extends layout

block content
  h1= title
  p [place holder]
  p "We Love You"

  form(method="get" action="/")
    Detect Detect Language:
    br
    input(type="text" name="translate" value="" placeholder="emoji or text")
    br
    input(type="submit" value="Submit")
    br
    Translation Translation:
    br
    output(type="text" name="translate" value="" placeholder="emoji or text")
    br
