doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/encode.js")
    script(src="/scripts/decode.js")
    link(href='https://fonts.googleapis.com/css?family=Yatra+One' rel='stylesheet' type='text/css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")
  body
    block content

  div.footer
    p Najee and Shaka Copyright 2016