body {
  font-family: "Yatra One", Arial, sans-serif;
  background-image: url('http://img.wallpaperfolder.com/f/438E792BECA5/38-egypt-ancient-1920x1200-53042.jpg') ;
  background-size: 70%;
}

.text-align-center h1 {
  font-size: 50px;
  text-shadow: 2px 2px white;
  font-weight: bold;
  -webkit-animation: mymove 3s infinite;
  animation: mymove 3s infinite;
}

.text-align-center h1:hover {
  font-size: 55px;
}

.button {
  background-color: #4CAF50;
  font-family: "Yatra One";
  border: black;
  color: white;
  margin: 20px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input {
  padding: 14px;
  font-size: 24px;
}

@-webkit-keyframes mymove {
  50% {text-shadow: 10px 20px 30px black;}
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px black;}
}

.text-align-center {
  margin: 24px;
  text-align: center;
  font-size: 24px;
}

div.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 10px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  input {
    width: 75%;
    height: 50%;
    padding: 14px;
    font-size: 60px;
  }

  h1 {
    font-size: 80px;
    text-shadow: 2px 2px white;
    font-weight: bold;
    -webkit-animation: mymove 3s infinite;
    animation: mymove 3s infinite;
  }

  p.form {
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px black;
    padding: 5px
  }

  .text-align-center {
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-size: 34px;
  }

}
