body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.form {
  margin: 24px;
  text-align: center;
}

p.form, h1.form, form.form, label.form {
  margin: 24px;
  text-align: center;
}

i.form {
  left:200px;
  right:200px;
}
